.borderdTest{
    border: 1px solid red;
}

.loginPage{
    background-color: white;
    background-image: ;
}
 
header{
   text-align: center; 
}

.halfHeight{
    height: 50%;
    width:100%
}

.inputText{
   border-width: 0px;
   border-bottom:1px solid gray;
   width:90%;
   margin-left:2em;
   margin-right:2em;
   margin-top:2em;
   outline:none;
}

.check{
   border-radius:100%;
   color: gray;
   margin-top:1em;
   margin-left: 2em;
   outline: none;
}

label{
    color: gray;
}

.summitBtn{
    width: 7em;
    height: 2em;
    font-size:1.5em;
    border: 1px solid green;
    color: green;
    border-radius: 4px;
    font-weight: 600;
    background: white;
    margin-top: 2em;
    outline:none;
}

.childPosition{
    text-align: center; 
}

.formStyle{
    text-align: left;
}




